* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.background-dark {
    background-color: #1F2937; 
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.background-light {
    background-color: #e5e7eb; 
    display: flex;
    justify-content: center;
}

.header {
    padding: 10px 10px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-logo {
    font-weight: bold;
}

.hero {
    width: 1000px;
    padding: 50px 10px; 
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hero > * {
    flex: 1;
}

.hero p {
    font-size: 18px;
}

.column-right {
    background-color: grey;
}

.infotext {
    color: #1F2937;
    padding: 50px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;    
}

.card-wrapper {
    margin: auto 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    max-width: 600px;
}

.card {
    flex: 0;
    margin: 10px;
    min-width: 130px;
}

.card > img {
    width: auto;
    min-height: 130px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.quote {
    color: #1F2937;
    width: 800px;
    padding: 25px 10px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
}

.center {
    display: flex;
    justify-content: center;
}

.cta {
    background-color: #3882f6;
    margin: 50px 0px;
    padding: 50px 100px;
    width: 1000px;
    border-radius: 5px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cta-left > p {
    margin: 0;
    font-size: 18px;;
}

ul {
    list-style-type: none;
}

li > a {
    margin: 0;
    padding: 0;
    list-style: block;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 20px;
    border: 0;
    border-radius: 5px;
}

button.btn-inverted {
    border: 3px solid #e5e7eb;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    font-size: 36px;
    font-weight: larger;
}

h3 {
    font-size: 22px;
    font-weight: larger;
}