* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.background-dark {
    background-color: #1F2937; 
    display: flex;
    justify-content: center;
}

.header {
    color: #F9FAF8;
    padding: 10px 0px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-logo {
    font-weight: bold;
}

.hero {
    width: 1000px;
    color: #F9FAF8;
    padding: 50px 0px; 
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hero > * {
    flex: 1;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.column-right {
    background-color: grey;
}

.infotext {
    color: #1F2937;
    padding: 50px 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;    
}

.card-wrapper {
    display: flex;
    justify-content: center;
    width: 800px;
}

ul {
    list-style-type: none;
}

li > a {
    margin: 0;
    padding: 0;
    list-style: block;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 20px;
    border: 0;
    border-radius: 5px;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    font-size: 36px;
    font-weight: larger;
}