* {
    box-sizing: border-box;
}
/* @todo: set content width to 800px but dont break backgrounds */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-logo {
    font-weight: bold;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 100px; 
    display: flex;
    gap: 50px;
    /* align-items: stretch; */
}

.hero > * {
    flex: 1;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
}

.column-right {
    background-color: grey;
}

ul {
    list-style-type: none;
}

li > a {
    margin: 0;
    padding: 0;
    list-style: block;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 20px;
    border: 0;
    border-radius: 5px;
}

h1, h2 {
    margin: 0;
    padding: 0;
}